body {
    background-color: #ABABAB;
}

h1 {
    background-color: whitesmoke;
    color: maroon;
    text-align: center;
    border: solid 7px;
    padding: 2.5%;
}

h2 {
    color: maroon;
    text-align: center;
}

h4 {
    color: maroon;
}

h6 {
    color: white;
    font-size: medium;
}

p {
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    color: maroon;
    border: solid 5px;
    padding: 1.0%;

}



.progress {
    background-color: white;
}

/* NEED HELP** I dont understand why this class wont pick up? */
/* .progress-bar w-75 {
    background-color: blue;
} */




.footer {
    text-align: center;
}